Container{
    height: 100%;
    margin: 4 8;
    background: $boost;
    color: $text;
    border: tall $panel;
    padding: 1 2;
}

Button{
    width: 1fr;
}

.texts{
    text-style:bold;
    content-align: center middle;
    margin: 2 4;
}

.button-group{
    height: auto;
    width: 100%;
    dock: bottom;
}

#ascii{
    color: #0e6cbf;
}

#github{
    color: #d84224;
}

#title{
    color: #d4ee19;
}

